on:
  push:
    branches: [main, master]
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'  # Runs automatically every hour
name: Sync
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync
        uses: r-universe-org/workflows/.github/workflows/sync.yml@v3
