on:
  push:
    branches: [main, master]
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'
name: Sync
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync
        uses: r-universe-org/sync@v1
        env:
          GITHUB_PAT: ${{ secrets.PAT_FOR_UNIVERSE }}
